@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header{
    background-color: #FBD2D7;
    justify-content: center;
    padding: 2%;
    border-bottom: 5px solid #666666;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    text-align: center;

}

#h1_header{
    color: #666666;
    /*text-align: center;*/
}

nav{
    background: #666666;
}
nav,ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 1vh;
}
nav,li{
    float: left;
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
nav,a:link{
    color: #F8F6F0;
}
nav, a:visited{
    color: #F8F6F0;
    text-underline-mode: none;
}
.camera_container{
    width: 80%;
    height: 80%;
    background-color: #FBD2D7;
    border: 5px solid #666666;
    border-radius: 10px;
    margin: 10%;
    text-align: center;
    vertical-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}
.camera{
    width: 80%;
    margin: 1%;
    border: 2px solid #666666;
}
.title_camera{
    font-family: Montserrat, sans-serif;
    font-size: large;
    font-weight: bolder;
    color: black;
}
.garage-container{
    border: 5px solid #666666;
    width: 80vw;
    background-color: #FBD2D7;
    margin: 5%;
    padding: 5%;
    text-align: center;
    vertical-align: center;
    align-items: center;
}
#door_p{
    border: 2px solid #666666;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #666666;
    margin: 5%;
    text-align: center;
    align-self: center;
}


.light-container{
    display: grid;
    text-align: center;
    border: 5px solid #666666;
    border-radius: 10px;
    background-color: #FBD2D7;
    margin: 10% auto;
    width: 75%;
    height: 75%; 
}

.light {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    width: 98%;
    margin: 1%;
    border: 2px solid #666666;
    align-items: center;
}
.container-home{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 6%;
    width: 96%;
    border: 5px solid #666666;
    background-color: #FBD2D7;
    text-align: center;
}

#fi_img{
    width: 90%;
}
@media screen and (max-device-width: 480px) and (orientation: portrait){
    .camera_container{
        width: 83%;
        height: 80%;
        background-color: #FBD2D7;
        border: 5px solid #666666;
        border-radius: 2px;
        margin: 10%;
        text-align: center;
        vertical-align: center;
        display: grid;
        grid-template-columns: 50%;
    }
    .camera{
    width: fit-content;
    margin: 1%;
}
}



